<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <h2>代表挨拶</h2>
        </div>
        <div>
        障がいをもつ人と、そのご家族に新しい選択肢をつくること<br>
        <br>
        我々ケアラインは、地元奈良で何を求められているか、<br>
        <br>
        何ができるかを徹底的に考え、国や県からの許認可を得る以上、<br>
        <br>
        事業を通じて社会に貢献し、入居者様、不動産オーナー様、地域の方々に<br>
        <br>
        安心してもらえる空間、住居を提供できる会社を追求します。<br>
        <br>
        また、福祉事業という性質上、スタッフ一人ひとりが発言や行動等に責任を持ち、<br>
        <br>
        組織とルールに基づいて行動するとともに、人間理解を基本として、業務を遂行します。<br>
        <br>
        ご利用者、そのご家族、地域の方々、<br>
        <br>
        そしてグループホームで働くスタッフをはじめ<br>
        <br>
        当施設に関わる全ての方々から｢感謝」されるような組織づくりをしてまいります。<br>
        <br>
        <br>
        </div>
        <div class="text-right">
          代表取締役　　　　○○ ○○
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>