<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="top-container mt-5 mb-5">
        <%= image_tag "top-1.jpg", class:"top-1" %>
        <div class="top-text">
          <p>
            ＜株式会社　ケアライン＞<br>
            株式会社ケアラインは障害のある・なしに関わらず、<br>
            いつでも本人の自由な意思を尊重し、<br>
            創造性にあふれる『憩いの居場所』を目指します。<br>
            ご利用者様ができることを活かしながら、<br>
            日々の生活をサポートさせていただきます。
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <h4>◆ 新着情報</h4>
        ＃review書く
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <h4>◆ グループホーム</h4>
        ご利用者の自立の促進と日常生活の向上を図ることを目的に、<br>
        利用者やご家族の多様なニーズに応えられる地域の拠点事業所として運営しています。
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <h4>◆ 入居までの流れ</h4>
        </div>
        <div class="col-2 mb-4 background">
          予約
        </div>
        <div class="col-8 offset-2">
          お問い合わせフォームよりご連絡<br>
          又は、お電話よりご予約を受け付けております。<br>
          <br>
        </div>
        <div class="col-2 mb-4 yajirushi">
          ↓
        </div>
        <div class="col-10">
        </div>
        <div class="col-2 mb-3 background">
          見学・説明
        </div>
        <div class="col-8 offset-2">
          施設のご見学と併せて、サービス内容やご利用料金の<br>
          ご説明をさせていただきます。<br>
          <br>
        </div>
        <div class="col-2 mb-4 yajirushi">
          ↓
        </div>
        <div class="col-10">
        </div>
        <div class="col-2 mb-4 background">
          体験入居
        </div>
        <div class="col-8 offset-2">
          グループホームでの１日の生活を体験していただきます。<br>
          ※体験のご利用は無料でさせて頂きます。<br>
          <br>
        </div>
        <div class="col-2 mb-4 yajirushi">
          ↓
        </div>
        <div class="col-10">
        </div>
        <div class="col-2 mb-4 background">
          正規契約
        </div>
        <div class="col-8 offset-2">
          契約書のご説明後、契約させていただきます。<br>
          ※受給者証の申請、障害者手帳の引請けが可能な方のみ<br>
          とさせて頂きます。
        </div>
        <div class="col-2 mb-4 yajirushi">
          ↓
        </div>
        <div class="col-10">
        </div>
        <div class="col-2 mb-4 background">
          入居
        </div>
        <div class="col-8 offset-2">
         利用者様の生活をサポートさせて頂きます。<br>
         <br>
         <br>
        </div>
      </div>
    </div>
  </div>
</div>
<br>