<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <h2>お問い合わせ一覧</h2>
        </div>
      </div>

      <% @contacts.each do |contact| %>
        <%= link_to admin_contact_path(contact) do %>
          ◆ <%= contact.group %>   <%= contact.name %>
        <% end %><br>

      <% end %>
    </div>
  </div>
</div>