<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <h2>お問い合わせ一覧</h2>
        </div>
      </div>

    <% @contacts.each do |contact| %>
      <h5>◆ <%= contact.created_at.strftime('%Y-%m-%d %H:%M:%S') %>　（　<%= contact.group ? '法人' : '個人' %>　）　　　<%= link_to contact.name, admin_contact_path(contact) %></h5>
    <% end %>


    </div>
  </div>
</div>