<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="row">
        <div class="col-12 mt-5 mb-5">
          <h2>施設情報一覧</h2>
        </div>
      </div>

      <% @facilities.each do |facility| %>
        <%= link_to admin_facility_path(facility) do %>
          ◆ <%= facility.name %>
        <% end %><br>
      <% end %>
    </div>
  </div>
</div>