/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .top-container {
 background-image: url("../images/top-1.jpg");
 height: 600px;
  background-size:cover;
  background-position: center;
  position: relative; /* 親要素を相対位置指定にする */
}

.top-text {
  color: #6f4d3e;
  position: absolute; /* 絶対位置指定 */
  bottom: 0; /* 下端に配置 */
  right: 0; /* 右端に配置 */
  background-color: rgba(255, 255, 255, 0.5); /* 背景色を半透明にする (0.5は透明度を示す) */
  padding: 30px; /* テキストと枠線の間の余白 */
  height: 100%; /* 高さを親要素に合わせる */
  display: flex; /* フレックスコンテナにする */
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
}


.background {
  background-color: #ffe4b5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yajirushi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: black;
  background-color: #ffe4b5;
  width: 80px;
  height: 30px;
  display: inline-block;
  font-size: 16px; /* テキストのサイズ */
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  line-height: 30px;
}

.button:hover {
    background-color: orange; /* ホバー時の背景色変更 */
    color: white;
}