<li><%#= link_to '会社情報', admin_information_path, class: 'nav-link text-light mx-4 px-4', style: 'background-color: #937B69;' %></li>
<li><%= link_to '施設情報', admin_facilities_path,class:'nav-link text-light mx-4 px-4', style: 'background-color: #937B69;' %></li>
<li><%= link_to 'お問い合わせ', admin_contacts_path,class:'nav-link text-light mx-4 px-4', style: 'background-color: #937B69;' %></li>
<li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete ,class:'nav-link text-light mx-4 px-4', style: 'background-color: #937B69;' %></li>