<li><%= link_to '会社情報', information_path(id: 1), class:'nav-link text-light mx-4 px-4 btn', style: 'background-color: #ff7f50;' %></li>
<li><%= link_to '施設情報', facilities_path, class:'nav-link text-light mx-4 px-4 btn', style: 'background-color: #ff7f50' %></li>
<li><%= link_to 'About', about_path, class:'nav-link text-light mx-4 px-4 btn', style: 'background-color: #ff7f50;' %></li>
<li><%= link_to 'お問い合わせ', new_contact_path, class:'nav-link text-light mx-4 px-4 btn', style: 'background-color: #ff7f50;' %></li>